/*The astrisk selector selects everything on the page*/
*{}

body{
/* background-color changes color of the screen/background.
Use the color property to change color of text*/
  background-color: #f4f4f4;
  color: #555555;
/*Web safe fonts can be used out the gate and are supported by most browsers.
others will have to be downloaded and linked to like a stylesheet*/
  font-family: Arial, Helvetica, sans-serif;
  font-size:20px;
  font-weight:normal;
/*Means the same as above, just uses less space*/
  font: normal 20px Arial, Helvetica, sans-serif;

/*em used like this, instead of px,
is meant to scale the size of the property based on the demands of the browser
px is an absolute unit of measurement, that will not necessarily bend to
the needs of a responsive site, but also keep things like imgs and tables
viewable.
Basically, use em values for responsive sites*/
  line-height: 1.6em;
}

a {
  text-decoration: none;
  color: #000
}

.logo{
  border: 1px solid #fff;
  height: 100px;
  width: 100px;
  float:right;
  background-image: url(hiddencity.jpg);
  background-position: center;
}


/*The link tag <a> has several "states" it can be in, and CSS
can be used to highlight what state it's in. The hover state
enables css tied to it when the user's mouse "hovers" over the link*/
.categories a:hover{
  color: red;
}

.categories a:active{
  color: blue;
}

/*The active state enables css tied to it for the moment the
link is actually being clicked*/
a:active{
  color: blue;
}


/*The list-style property changes the style of the bullet points
in unordered lists <ul>, or can remove them completely*/
ul{
  list-style: none;
}

.container{
/*Use percents for containers and divs for easy responsiveness.
Percent values automatically adjust their size relative to the size of
the screen*/
  width: 80%;
  /*The auto value for the margin property preads the spacing/margain around
  the specified element evenly*/
  margin: auto;
}

.button{
  background-color: #333;
  color: #fff;
  padding:10px 15px;
  border: none;
}

.button:hover{
  background: silver;
}

.box-1 {
  text-align: center;
  background-color: #333;
  color: #fff;
  /*The format border values seems to be size, color, style*/
  border-right: 5px red solid;
  border-left: 5px red solid;
  border-top: 5px red solid;
  border-bottom: 5px red solid;
/*Same as above*/
  border: 5px red solid;

  border-width: 3px;
  border-bottom-width: 10px;


  padding: 20px;
  /*Here, the 20px specifies the top and bottom of the property.
  The 0 specifies the left and right*/
  margin: 20px 0;
}

.clr{
  clear:both;
}

/*the h1 tag after the class targets any h1 element
belonging to the class .box-1*/
.box-1 h1{
  font-family: Tahoma;
  font-weight: 800;
  font-style: italic;
  text-decoration: underline;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  word-spacing: 1em;
}

.box-2{
  text-align: center;
  border: 3px dotted #ccc;
  padding: 20px;
  margin: 20px 0;
}

.categories{
  border: 1px #ccc solid;
  padding: 10px;
  border-radius: 15px;
}

.categories h2{
  text-align: center;
}

.categories ul{
  list-style: square;
}

.categories li{
  padding-bottom: 6px;
  border-bottom: dotted 1px #333;
  /*gotta look into changing img sizes in css*/
  list-style-image:url('checkmark.png');

}

.nav ul{
  text-align: right;
}

.my-form{
  padding: 20px;
}

.my-form .form-group{
  padding-bottom: 15px;
}

.my-form label{
  display:block;
}

/*Just learned this bit about the brackets identifying the type of
input in your selected class. Snap*/
.my-form input[type="text"], .my-form textarea{
  padding: 8px;
  width: 100%
}

/* Basically the same thing as the .button class above
.my-form input[type="submit"]{
  background-color: #333;
  color: #fff;
  padding:10px 15px;
  border: none;
  */

/*Spent like 40 minutes trying to get this class to do the thing,
only to find one unclosed bracket hangin out above it.
Not sure what I learned, but I learned it.*/
.block{
  float: left;
  width: 33.3%;
  border: 1px solid #ccc;
  padding: 10px;
  box-sizing: border-box;
}
/*Oh, and box-sizing. And border-box. Accounts for the border and padding in
your width*/

#main-block{
  float: left;
  width: 70%;
  box-sizing: border-box;
}

#sidebar{
  float:right;
  width: 30%;
  background-color: #333;
  color: white;
  padding: 15px;
  box-sizing: border-box;
}

.p-box{
  width: 800px;
  height: 500px;
  border: 1px solid #000;
  margin-top: 30px;
  position: relative;
  border-radius: 100px;
  background-image: url(bgimage.jpg);
  background-repeat:;
  background-position: center;
}

.p-box h1{
  position: absolute;
  top:60px;
  left:600px;
}

.p-box h2{
  position: absolute;
  bottom: 40px;
  right:100px;
}

.fix-me{
  position: fixed;
  top:400px;
}

.my-list li:first-child{
  background: red
}

.my-list li:nth-child(5){
  background:yellow;
}

.my-list li:nth-child(even){
  background: grey;
}
